extends email-layout

block body
  p
    strong Hi there GC Super Hero, 
    p #{contact.first} #{contact.last} sent us a message:
    p #{contact.email} - #{contact.phone}
    p #{contact.subject}
    p #{contact.body}
  p Please get back to them within 24 hours. Thanks!