extends email-layout

block body
  p
    strong Hi there Omny Teleport Technician
    p #{booking.name} just requested a booking
    p Phone: #{booking.phone}
    p #{booking.place}
    p #{booking.address}
    p #{booking.referralCode}
    p='Date: ' + moment(booking.startsAt).tz('America/Los_Angeles').format("dddd MMMM Do YYYY")
    p='Starting At: ' + moment(booking.startsAt).tz('America/Los_Angeles').format("h:mm a") + " GMT"
    p='Ending At: ' + moment(booking.endsAt).tz('America/Los_Angeles').format("h:mm a") + " GMT"
    p Total Hours: #{booking.hours}
  p Please get back to them within 24 hours. Thanks!